<div id="add-course">
    <form class="ui stacked segment form" action="/course/{{id}}/addcourse" method="POST">
        <div class="field">
            <label>Name</label>
            <input type="text" name="name" autofocus required title="Enter a name for this course">
        </div>
        <button class="ui blue submit button">Add Course</button>
    </form>
</div>