<nav class="ui stackable menu">
  
  <header class="ui header item"> 
    <!--     Change the link below to suit your app -->
    <a href="/">Restaurant App</a>
  </header>
  
  <div class="right menu">
    <!--     Add links to your pages here -->
    <a id="home" class="item" href="/">Home</a>
    <a id="menu" class="item" href="/menu">Our Menu</a>
    <a id="staff" class="item" href="/staff">Staff</a>
    <a id="locations" class="item" href="/locations">More Locations</a>
    <a id="gallery" class="item" href="/gallery">Gallery</a>
  </div>
  
</nav>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>
