<nav>
  <header class="ui header"> 
    <!--     Change the link below to suit your app -->
    <a href="/">Restaurant de Ford</a>
  </header>
  
  <div class="buttons-container ui four item menu">
    <!--     Add links to your pages here -->
    <a id="start" class="item" href="/">Home</a>
    <a id="menu" class="item" href="/menu">Our Menu</a>
    <a id="staff" class="item" href="/staff">About us</a>
    <a id="gallery" class="item" href="/gallery">Gallery</a>
  </div>
  
</nav>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>