<nav>
  <header class="ui header"> 
    <!--     Change the link below to suit your app -->
    <a href="/start">Restaurant de Ford</a>
  </header>

  <div class="account-display">
    <p class="account-name-formatted">{{formattedName}}</p>
    <a href="/logout" id="logout">Log out</a>
  </div>
  
  <div class="buttons-container ui five item menu">
    <!--     Add links to your pages here -->
    <a id="start" class="item" href="/start">Home</a>
    <a id="menu" class="item" href="/menu">Our Menu</a>
    <a id="staff" class="item" href="/staff">About us</a>
    <a id="gallery" class="item" href="/gallery">Gallery</a>
    <a id="statistics" class="item" href="/statistics">Statistics</a>
  </div>
  
</nav>

<script>
  document.querySelector("#{{id}}").classList.add("active");
</script>