<section id="menu-container" class="ui center aligned middle aligned segment">
  <h1>Our Menu</h1>
  
  {{> coursefilter}}

  {{#unless course}}
    <h3>No courses; try to add one below.</h3>
  {{/unless}}

  <div class="courses">
    {{#each course}}
      {{> coursecard}}
    {{/each}}
  </div>
</section>