<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>{{title}}</title>
    
    <!-- import the FomanticUI stylesheet -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.css">
   
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">   
  </head>
  
  <body>
    
    <section class="ui container">
      {{{body}}}
    </section>
    
    <!-- import the jQuery file -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    
    <!-- import the SemanticUI javascript file -->
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.js"></script>
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js"></script>
    
  </body>
</html>
