{{main}}

<head>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/course-meals.css">
</head>

{{#with thisCourse}}
    <section id="course-container" class="ui center aligned middle aligned segment">
        <a href="/menu" id="back"><p>Back</p></a>

        <h1 class="ui header">{{name}}</h1>

        {{> listmeals}}
    </section>
{{/with}}

{{> addmeal}}