{{> header id="menu"}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Menu</h2>

  <div class="menu-items-container ui center three column grid">
    {{#each info}}
      <div class="column">
        <div class="column-padding">
          <h3>{{name}}</h3>
          <p>{{description}}</p>
          <div class="item-footer">
            <p><b>{{price}}</b></p>
            <p><b>⭐{{rating}}</b></p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>