{{> welcomemenu id="signup"}}

<form class="sign-up ui stacked segment form" action="/register" method="POST" enctype="multipart/form-data">
  <h3 class="ui header">Register a restaurant</h3>
  <div class="three fields">
    <div class="field">
      <label for="restaurantName">Name of restaurant</label>
      <input placeholder="Restaurant 1" type="text"  name="restaurantName" autofocus required>
    </div>
    <div class="field">
      <label for="location">Location of restaurant</label>
      <input placeholder="Waterford" type="text"  name="location" required>
    </div>
    <div class="field">
      <label>Profile Picture</label>
      <input placeholder="Image" type="file" name="thisPicture" required>
    </div>
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input placeholder="Email" type="text" name="email" required>
  </div>
  <div class="field">
    <label for="password">Password</label>
    <input type="password" name="password" required>
  </div>
  <button class="ui blue submit button">Submit</button>
</form>