{{main}}
{{> header id="start"}}

<head>
    <link rel="stylesheet" href="/css/start.css">
</head>

<section class="ui center aligned middle aligned segment">
  
  <div class="main-header">
    <h1>Restaurant de Ford</h1>
    <p>5 star restaurant in the heart of the city</p>
  </div>
  
  <img src="images/gallery/restaurant.jpg" alt="Restaurant de Ford">

  <hr>
  <p class="stars">⭐⭐⭐⭐⭐</p>
  <hr>

  <div class="sub-header">
      <h2>Book a reservation</h2>

      <p>Before booking, make sure to familiarise yourself with our menu and to arrive at least 15 minutes in advance of your booking time chosen.</p>
  </div>

  <div class="booking-container">
    <h3 class="title">Choose a date and time</h3>
    <div class="inputs">
      <div class="inputs-column">
        <input id="input-date" type="date">
        <div id="time">
          <label for="time">Enter a time:</label>
          <input id="input-time" type="time" name="time">
        </div>
      </div>
      <div class="inputs-column">
        <button id="book" onclick="book(this)">Book time chosen</button>
      </div>
    </div>
  </div>

</section>