{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Assignment One Starter App</h2>

  <p>
    You can use this start view (along with the matching start controller and start route) as the starting point for your "welcome" view (i.e. your app's homepage). Read the assignment spec to see what other views you should add.
  </p>

</section>
