{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Restaurant de Ford</h2>

  <p>
    5 star restaurant in the heart of the city
  </p>
  {{!-- image source: https://media.istockphoto.com/id/111861571/photo/atmosphere-restaurant-asian-fusion.jpg?s=612x612&w=0&k=20&c=Jx-YV6jHeKUu2NuMKE9KZHwEI0emGAH0MLJuSHmD4qA= --}}
  <img src="/images/restaurant.jpg" alt="Inside of Restaurant de Ford">

</section>
