{{> header}}

<section class="ui center aligned middle aligned segment">
  
  <div class="main-header">
    <h2>Restaurant de Ford</h2>
    <p>5 star restaurant in the heart of the city</p>
  </div>

  <hr>
  <p>⭐⭐⭐⭐⭐</p>
  <hr>

  <div class="sub-header">
      <h2>Book a reservation</h2>

      <p>Before booking, make sure to familiarise yourself with our menu and to arrive at least 15 minutes in advance of your booking time chosen.</p>
  </div>

  <div class="booking-container">
    <h3 class="title">Choose a date and time</h3>
    <div class="inputs">
      <div class="inputs-column">
        <input type="date">
        <div id="time">
          <label for="time">Enter a time:</label>
          <input type="time" name="time">
        </div>
      </div>
      <div class="inputs-column">
        <button>Prebook with Menu</button>
        <button>Book only time</button>
      </div>
    </div>
  </div>

</section>
