{{> header}}

<head>
    <link rel="stylesheet" href="/css/thanks.css">
</head>

<section class="ui center aligned middle aligned segment">
  <h1>Thanks for booking!</h1>

  <h3>You booked for:</h3>
  <p><span id="date"></span></p>
  <h3>at</h3>
  <p><span id="time"></span></p>
</section>
