html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  background-color: rgb(125, 0, 0);
}

/* header */

nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 30px;
}

nav header{
  width: 100%;
  text-align: center;
}
nav header a{
  font-size: 45px;
  font-style: italic;
  color: #fff;
}

.buttons-container a{
  background-color: wheat !important;
  font-style: italic;
  font-weight: bold !important;
  font-size: 19px !important;
}

h1{
  margin-bottom: 50px;
}

section > section{
  background-color: wheat !important;
  border-radius: 15px !important;
}