html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  background-color: rgb(125, 0, 0);
}

/* header */

nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

nav header{
  width: 100%;
  text-align: center;
}
nav header a{
  font-size: 45px;
  font-style: italic;
  color: #fff;
}

.buttons-container a{
  background-color: wheat !important;
  font-style: italic;
  font-weight: bold !important;
  font-size: 19px !important;
}

h1{
  margin-bottom: 50px;
}

section > section, .welcome-menu, .log-in, .sign-up{
  background-color: wheat !important;
  border-radius: 15px !important;
}

.account-name-formatted{
  padding-top: 22.5px;
  padding-right: 5px;
  line-height: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.welcome-menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcome-menu a{
  background-color: #b9a379;
  padding: 15px;
  margin: 10px;
  font-size: 25px;
  color: #fff;
  border-radius: 7px;
}

.log-in h3, .sign-up h3{
  text-align: center;
  font-size: 25px !important;
}

.log-in label, .sign-up label{
  font-size: 16px !important;
  font-weight: normal !important;
}

.log-in::after, .sign-up::after{
  display: none;
}

.account-display{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 5px;
  width: 100%;
}

.account-name-formatted{
  padding: 0px;
  margin: 0px;
}

.account-name-formatted, #logout{
  background-color: #500000;
  padding: 10px;
  font-size: 21px;
  color: #fff;
  border-radius: 7px;
}